.five-section {
  margin-bottom: 0px;
  padding-bottom: 94px;
  padding-top: 94px;
}

.five-section__title {
  color: var(--title-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 50px;
}

.five-section-list {
  list-style: none;
  display: flex;
  margin-bottom: 0;
  margin-top: 0;
  justify-content: center;
  padding: 0;
}

.five-section-list__item {
  margin-right: 30px;
  display: flex;
  &:nth-child(6n) {
    margin-right: 0;
  }
}

.five-section-list__link {
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;
  padding: 16px 32px;
  display: flex;
  transition: var(--time-animation) var(--cubik-transform);
  &:hover {
    border-color: var(--blue-text-color);
    transition: border-color var(--time-animation) var(--cubik-transform);
  }
}

.five-section-list__icon {
  display: flex;
  fill: #afb1b8;
  transition: var(--time-animation) var(--cubik-transform);
  &:hover {
    fill: var(--blue-text-color);
    cursor: pointer;
    transition: fill var(--time-animation) var(--cubik-transform);
  }
  .five-section-list__link:hover &,
  .five-section-list__link:focus & {
    fill: var(--blue-text-color);
    transition: fill var(--time-animation) var(--cubik-transform);
  }
}
