.first-section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.first-section-portfolio-list {
  list-style: none;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  padding-top: 0px;
  margin-bottom: 50px;
  margin-top: 0;
}

.first-section-portfolio-list__item {
  display: flex;
  padding: 0;
  margin-top: 0px;
  margin-right: 8px;
  &:nth-child(5n) {
    margin-right: 0;
  }
}

.first-section-portfolio-list__btn {
  color: var(--title-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  display: flex;
  padding: 6px 22px;
  margin: 0px;
  border: 1px solid #f5f4fa;
  border: none;
  border-radius: 4px;

  transition: var(--time-animation) var(--cubik-transform);

  &:hover,
  &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    transition: box-shadow var(--time-animation) var(--cubik-transform);
  }
  &:hover,
  &:focus {
    color: var(--secondary-text-color);
    background-color: var(--blue-text-color);
    transition: background-color var(--time-animation) var(--cubik-transform);
  }
}

.pointer {
  cursor: pointer;
}

.portfolio-second-list {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
}

.portfolio-second-list__item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    transition: box-shadow var(--time-animation) var(--cubik-transform);
  }
  &:nth-child(3n) {
    margin-right: 0px;
  }
  &:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
}

.portfolio-second-list__thumb {
  position: relative;
  overflow: hidden;
  &::before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 100%;
    height: 100%;
    .portfolio-second-list__item:hover & {
      transform: translateY(0%);
      transition: transform 550ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

.portfolio-second-list__text-thumb {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  margin: 0;
  color: #ffffff;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  width: 370px;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(105%);
  transition: transform 550ms cubic-bezier(0.4, 0, 0.2, 1);
  .portfolio-second-list__item:hover & {
    transform: translateY(0%);
    transition: transform 550ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.portfolio-card-border {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.portfolio-second-list__title {
  color: var(--title-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-bottom: 4px;
  margin-top: 0;
}

.portfolio-second-list__text {
  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  margin-bottom: 0;
  margin-top: 0;
}
